
body {
    background-color: #154360;
    color: white;
    font-weight: bold;
    font-family: 'lato' !important;
  }

body h1  {
}

#BigTitle {
  font-size: 450%;
}

@font-face {
    font-family: lato;
    src: url(sansation_light.woff);
}

@font-face {
    font-family: lato;
    src: url(sansation_bold.woff);
    font-weight: bold;
}

div {
    font-family: lato;
}
