
body {
    background-color: #154360;
    color: white;
    font-weight: bold;
    font-family: Lato;
    margin: 0;
    }

body h1  {
}

#BigTitle {
  font-size: 450%;
}

#PageSize {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#PageSize2 {
  background-color: #022135;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#ThirdPage {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#ContactForm {
  background-color: #022135;
  margin-top: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
}
