
/* mobile */
@media (max-width : 600px) {
 .menu__desktop{
     display: none;
 }
}
/* desck-top */
@media  (min-width : 601px) {
   .menu__mobile{
       display: none;
   }
}
.menu__mobile__list {
  list-style-type: none;
}

body{
  margin: 0px;
}
/*.menu {
  cursor: pointer;
  outline: none;
  background: none
}*/

/*.menu__mobile__checkbox {
    display: none
}*/

.menu__mobile {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 240px;
    height: 100%;
    transform: translate3d(-240px, 0, 0);
    transition: transform 0.35s;
}

.menu__mobile__toggle {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    line-height: 0px;
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: #fff url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
}
.menu__mobile ul li a, .menu__mobile ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: #000;

}
ul li a:hover, ul li label:hover {
  color: #666;
}
/* hide inputs */
.menu__mobile__checkbox {
  display: none;
}

/* hide navigation icon for sublabels */



.menu__mobile__checkbox:checked + .menu__mobile{
  transform: translate3d(0, 0, 0);
}
