
/* mobile */
@media (max-width : 600px) {
 .menu__desktop{
     display: none;
 }
}
/* desck-top */
@media  (min-width : 601px) {
   .menu__mobile{
       display: none;
   } 
}

.menu {
  cursor: pointer;
  outline: none;
  background: none
}

.menu .menu__mobile .menu__mobile__checkbox {
    display: none
}

.menu menu__mobile {

}